grid()
  display flex
  borderBox()
  clearfix()
  padding (2 * $default-column-gap)
  width 100%
  overflow hidden
  flex-direction column

grid-row()
  display flex
  flex-wrap wrap
  flex-grow 1
  borderBox()
  margin-left ( - $default-column-gap)
  margin-right ( - $default-column-gap)
  margin-top ( - $default-column-gap)
  &:last-child
    margin-bottom ( - $default-column-gap)
  &:not(:last-child)
    margin-bottom ($default-column-gap)

grid-col()
  display flex
  align-items: flex-start
  max-width 100%
  padding $default-column-gap
  flex-wrap wrap
  flex-grow 1
  position relative
  borderBox()
  .grid 
    padding 0

grid-gap(gap)
  padding (2 * gap)
  .grid__row
    margin-left ( - gap)
    margin-right ( - gap)
    margin-top ( - gap)
    &:last-child
      margin-bottom ( - gap)
    &:not(:last-child)
      margin-bottom (gap)
    .grid__col
      padding gap
      
grid-gap2(gap2)
  padding (2 * gap2)!important
  .grid__row
    &:not([class*="grid__row_gap_"])
      margin-left ( - gap2)!important
      margin-right ( - gap2)!important
      margin-top ( - gap2)!important
      &:last-child
        margin-bottom ( - gap2)!important
      &:not(:last-child)
        margin-bottom (gap2)!important
      .grid__col
        padding gap2!important

row-gap(gap)
  margin-left ( - gap)!important
  margin-right ( - gap)!important
  margin-top ( - gap)!important
  &:last-child
    margin-bottom ( - gap)!important
  &:not(:last-child)
    margin-bottom (gap)!important
  .grid__col
    padding gap!important

grid-col-size(size)
  if size == sm
    for num in (1..12)
      .grid__col_size_{size}-{num}
        width $grid-vals[num - 1]
    .grid__col-{size}_align_center
      justify-content center
    .grid__col-{size}_align_left
      justify-content flex-start
    .grid__col-{size}_align_right
      justify-content flex-end
    .grid__col-{size}_vertical-align_center
      align-items center
    .grid__col-{size}_vertical-align_top
      align-items flex-start
    .grid__col-{size}_vertical-align_bottom
      align-items flex-end
  else
    for num in (1..12)
      @media (min-width: $screen-min_sizes[size])
        .grid__col_size_{size}-{num}
          width $grid-vals[num - 1]
    @media (min-width: $screen-min_sizes[size])
      .grid__col-{size}_align_center
        justify-content center
      .grid__col-{size}_align_left
        justify-content flex-start
      .grid__col-{size}_align_right
        justify-content flex-end
      .grid__col-{size}_vertical-align_center
        align-items center
      .grid__col-{size}_vertical-align_top
        align-items flex-start
      .grid__col-{size}_vertical-align_bottom
        align-items flex-end

grid-col-move(size, dir)
  if size == sm
    for num in (1..12)
      .grid__col-{size}_move_{dir}-{num}
        if dir == right
          left $move-vals[(num - 1)]
        if dir == left
          right $move-vals[(num - 1)]
    .grid__col-{size}_move_{dir}
      if dir == right
        left auto
      if dir == left
        right auto
  else
    for num in (1..12)
      @media (min-width: $screen-min_sizes[size])
        .grid__col-{size}_move_{dir}-{num}
          if dir == right
            left $move-vals[(num - 1)]
          if dir == left
            right $move-vals[(num - 1)]
    @media (min-width: $screen-min_sizes[size])
      .grid__col-{size}_move_{dir}
        if dir == right
          left auto
        if dir == left
          right auto

grid-col-offset(size, dir)
  if size == sm
    for num in (0..11)
      .grid__col-{size}_offset_{dir}-{num}
        if dir == left 
          margin-left $offset-vals[num]
        if dir == right
          margin-right $offset-vals[num]
  else
    for num in (0..11)
      @media (min-width: $screen-min_sizes[size])
        .grid__col-{size}_offset_{dir}-{num}
          if dir == left 
            margin-left $offset-vals[num]
          if dir == right
            margin-right $offset-vals[num]